<div class="row zeromargin">
  <div class="col s10 m3 l2 light-green darken-4">
  	<div class="main">
	    <span class="main-global main-top main-top-click"></span>
	    <span class="main-global main-middle main-middle-click"></span>
	    <span class="main-global main-bottom main-bottom-click"></span>
	  </div>
  	<div class="collection">

      <a ui-sref=".listado" ui-sref-active="active" class="collection-item">
        <i class="mdi-action-assignment left"></i>Listado de Juegos
      </a>
      <a ui-sref=".pendientes" ui-sref-active="active" class="collection-item">
        <i class="mdi-toggle-check-box left"></i>Aprobar credito
      </a>
      <a ui-sref=".agregar" ui-sref-active="active" class="collection-item">
        <i class="fa fa-gamepad left"></i>Registrar videojuego
      </a>
    </div>
  </div>
	<div ui-view class="right col s12 m9 l10 grey lighten-5">

	</div>
</div>


<script type="text/javascript">
$(".main").on("click", function(){
  if($(".col.s10.m3.l2.light-green.darken-4").hasClass("open")){
    $(".col.s10.m3.l2.light-green.darken-4").removeClass("open");
  }else{
    $(".col.s10.m3.l2.light-green.darken-4").addClass("open");
  }
});
$(".col.s10.m3.l2.light-green.darken-4 .collection a").on("click", function(){
  $(".col.s10.m3.l2.light-green.darken-4 .collection a").removeClass("active");
  $(this).addClass("active");
});
</script>