@import scala.collection.Map

@()
<div>
	<div class="card-panel z-depth-2">
		<div class="row">
			<form class="col s12 offset-m2" name="formulario" ng-submit="submit()" novalidate>
				<h5 class="col s12 m8">Datos del Juego</h5>
				@helpers.input( "Nombre", Map(
						"ng-model" -> "juego.nombre",
						"name" -> "nombre",
						"required" -> "true",
						"ng-prefill" -> "true",
						"maxLength" -> "80",
						"minLength" -> "2"
					),
					"El nombre es requerido"
				)

				@helpers.textarea( "Descripción", Map(
						"ng-model" -> "juego.descripcion",
						"name" -> "descripcion",
						"required" -> "true",
						"ng-prefill" -> "true"
					),
					"La descripción es requerida"
				)

				@helpers.input( "Precio", Map(
						"ng-model" -> "juego.precio",
						"name" -> "precio",
						"type" -> "number",
						"min" -> "0",
						"required" -> "true",
						"ng-prefill" -> "true"
					),
					"El precio es requerido"
				)

				<h5 class="col s12 m8">Multimedia</h5>
				@helpers.input( "Video", Map(
						"ng-model" -> "juego.video",
						"name" -> "video",
						"required" -> "true",
						"ng-prefill" -> "true",
						"placeholder" -> "Solo ID"
					),
					"El video es requerido"
				)

				<div ng-repeat="imagen in imagenes">
					@helpers.fileMultiple( "Imagen", Map(
							"placeholder" -> "Elige una imagen",
							"ng-model" -> "imagenes[$index].name",
							"name" -> "src{{$index}}",
							"required" -> "true"
						),
						"archivos",
						"Debes elegir una imagen",
						"ng-click = agregarImagen()",
						"ng-click = eliminarImagen($index)",
						"'image/*'"
					)
				</div>

				@helpers.file( "Juego", Map(
						"placeholder" -> "Elige el archivo del juego",
						"ng-model" -> "juego.filename",
						"name" -> "archivo_juego",
						"required" -> "true"
					),
					"archivos_juego",
					"Este es el archivo más importante del formulario, elige uno"
				)

				<button ng-if="!cargando" class="btn waves-effect green darken-2 waves-light col m2 offset-m6" type="submit" name="action">Guardar
    				<i class="mdi-content-send right"></i>
  				</button>
  				<div ng-if="cargando" class="progress col m8" style="margin-left: 16.6% !important;">
      				<div class="indeterminate"></div>
 				</div>
			</form>
		</div>
	</div>
</div>
