@import scala.collection.Map

@()
<div>
	<div class="row">
		<div class="col s10 grey lighten-5 offset-s1 trans">
			<div class="row">
			    <div class="col s12">
			      	<ul class="tabs">
				        <li class="tab col s3"><a class="active" href="#test1">Mi cuenta</a></li>
				        <li class="tab col s3"><a href="#test2">Mis juegos</a></li>
			      	</ul>
			    </div>
			    <div id="test1" class="col s12">
			    	<div class="row hiddenmargin">
			    		<div class="col s12 m10 l8 card-panel grey lighten-5 z-depth-2 trans">
					    	<div class="row mycount">
							    <form class="col s12 offset-m2" name="formulario">
							    	<h5 class="center">Mis datos</h5>
							    	@helpers.input("Nombre", Map(
							    			"ng-model" -> "usuario_login.nombre",
							    			"ng-prefill" -> "true",
							    			"readonly" -> "true"
							    		)
							    	)
							    	@helpers.input("Apellido Paterno", Map(
							    			"ng-model" -> "usuario_login.paterno",
							    			"ng-prefill" -> "true",
							    			"readonly" -> "true"
							    		)
							    	)
							    	@helpers.input("Apellido Materno", Map(
							    			"ng-model" -> "usuario_login.materno",
							    			"ng-prefill" -> "true",
							    			"readonly" -> "true"
							    		)
							    	)
							    	@helpers.input("Edad", Map(
							    			"ng-model" -> "usuario_login.edad",
							    			"ng-prefill" -> "true",
							    			"readonly" -> "true"
							    		)
							    	)
							    	@helpers.input("Correo Electrónico", Map(
							    			"ng-model" -> "usuario_login.correo",
							    			"ng-prefill" -> "true",
							    			"readonly" -> "true"
							    		)
							    	)
							    	@helpers.input("Promedio", Map(
							    			"ng-model" -> "usuario_login.promedio",
							    			"ng-prefill" -> "true",
							    			"readonly" -> "true"
							    		)
							    	)
							        <div class="center">
							    		<a ui-sref="actualizar({ id: {{ usuario_login.id }} })" class="waves-effect waves-light green darken-2 btn"><i class="mdi-image-edit left"></i>Editar</a>
							        </div>
							    </form>
							</div>
			    		</div>
			    	</div>
			    </div>
			    <div id="test2" class="col s12">
				    <div class="row">
						<div class="col s10 offset-s1 card-panel z-depth-2">
							<ul class="collection col s10 offset-s1">
								<li class="collection-item avatar" ng-repeat="juego in usuario_login.juegos">
									<img ng-src="/assets/images/games/{{ juego.imagenes[0] }}" alt="" class="circle">
									<span class="title">{{ juego.nombre }}</span>
									<p>Fecha de Publicación: <strong>{{ juego.publicacion }}</strong></p>
									<p>Precio: <strong>{{ juego.precio }}</strong></p>
								</li>
							</ul>
						</div>
					</div>
			    </div>
			 </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('ul.tabs').tabs();
	$(".secondary-content").on("click", function(){
		$(this).next().toggle("slow");
		$(this).children().toggle("slow");
	})
</script>