@()
<!-- Listado de Juegos -->
<div class="col s1" id="cont_game">
	<h4 class="titulo-juegos">{{ titulo }}</h4>
	<div class="card green lighten-5 z-depth-2" ng-repeat="juego in juegos" init-modal>
		<div class="card-image waves-effect waves-block waves-light">
			<img class="activator" ng-src="/assets/images/games/{{ juego.imagenes[0] }}">
		</div>
		
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4">
				{{ juego.nombre }} 
			</span>
			<i class="mdi-content-add right card-title activator"></i>
			<p>
				<button class="waves-effect waves-light btn green darken-2 modal-trigger" data-target="modal1" ng-click="seleccionarJuego(juego)">Más detalles</button>
			</p>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">
				{{ juego.nombre }} <i class="mdi-navigation-close right"></i>
			</span>
			<p class="small_description">{{ juego.descripcion }}</p>
			<a href="/juegos/descarga/{{usuario_login.id}}/{{juego.id}}" ng-show="comprado(juego) || juego.comprado || juego.precio === 0" class="waves-effect waves-light btn free">
				Descargar <i class="mdi-file-file-download right"></i>
			</a>
			<button ng-if="!comprado(juego) && !juego.comprado && juego.precio > 0" class="waves-effect waves-light btn cost" ng-click="comprar(juego)">
				Comprar<i class="mdi-action-shopping-cart right"></i>
			</button>
		</div>
	</div>
</div>

<!-- Descripcion del Juego -->
<div id="modal1" class="modal">
	<div class="modal-content  green lighten-5">
		<div class="mymaterialbox-caption"></div>
		<h3>{{ elegido.nombre }}</h3>
		<div class="row">
			<div class="col s12 m7 l9">
				<p class="flow-text">{{ elegido.descripcion }}</p>
	      	</div>
			<div class="col s12 m5 l3 grey lighten-2 z-depth-5 center-align">
				<img class="responsive-img" ng-src="/assets/images/games/{{ elegido.imagenes[0] }}">
				<p ng-if="elegido.precio > 0 && !comprado(elegido) && !elegido.comprado" class="price">
					<span>$ {{ elegido.precio }}</span>
				</p>
				<p  ng-if="elegido.precio === 0 && !comprado(elegido) && !elegido.comprado" class="price">
					<span>GRATIS</span>
				</p>
				<p  ng-if="comprado(elegido) || elegido.comprado" class="price">
					<span>COMPRADO</span>
				</p>
				<a href="/juegos/descarga/{{usuario_login.id}}/{{elegido.id}}" ng-if="comprado(elegido) || elegido.comprado || elegido.precio === 0" class="waves-effect waves-light btn free">
					Descargar <i class="mdi-file-file-download right"></i>
				</a>
				<button ng-if="!comprado(elegido) && !elegido.comprado && elegido.precio > 0" class="waves-effect waves-light btn free" ng-click="comprar(elegido)">
					Comprar <i class="mdi-action-shopping-cart right"></i>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 l6">
				<div class="video-container">
					<iframe width="1280" height="720" ng-src="{{ sanitizar('http://youtube.com/embed/' + elegido.video) }}" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div id="gallery_game" class="row">
			<div class="col s6 m4 l3" ng-repeat="imagen in elegido.imagenes">
				<img class="materialboxed" width="650" ng-src="/assets/images/games/{{ imagen }}">
			</div>
		</div>
	</div>
</div>
<!-- Paginación inicio -->
<div class="center hiddenmargin row" ng-show="!es_busqueda">
	<ul class="pagination">
		<li ng-class="{ disabled: pagina == 1 }" class="waves-effect">
			<a ng-click="paginar( pagina - 1 )">
				<i class="mdi-navigation-chevron-left"></i>
			</a>
		</li>
		<li ng-repeat="i in paginador track by $index" ng-class="{ active: ($index + 1) == pagina }" class="waves-effect">
			<a ng-click="paginar( $index + 1 )">{{ $index + 1 }}</a>
		</li>
		<li ng-class="{disabled: pagina == total_paginas}" class="waves-effect">
			<a ng-click="paginar( pagina + 1 )">
				<i class="mdi-navigation-chevron-right"></i>
			</a>
		</li>
	</ul>
</div>
<!-- Paginación fin -->