@()
<div>
	<div class="row">
		<div class="col s10 offset-s1 card-panel z-depth-2">
			<ul class="collection col s10 offset-s1">
				<li class="collection-item avatar" ng-repeat="juego in juegos">
					<img ng-src="/assets/images/games/{{ juego.imagenes[0] }}" alt="" class="circle">
					<span class="title">{{ juego.nombre }}</span>
					<p>Fecha de Publicación: <strong>{{ juego.publicacion }}</strong></p>
					<p>Precio: <strong>{{ juego.precio }}</strong></p>
					<div class="secondary-content">
						<a ui-sref="admin.editar({ id: {{juego.id}} })"  class="btn-floating btn-large waves-effect waves-light teal lighten-2">
							<i class="mdi-image-edit"></i>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Paginación inicio -->
<!-- <div class="center hiddenmargin row" ng-show="!es_busqueda">
	<ul class="pagination">
		<li ng-class="{ disabled: pagina == 1 }" class="waves-effect">
			<a ng-click="paginar( pagina - 1 )">
				<i class="mdi-navigation-chevron-left"></i>
			</a>
		</li>
		<li ng-repeat="i in paginador track by $index" ng-class="{ active: ($index + 1) == pagina }" class="waves-effect">
			<a ng-click="paginar( $index + 1 )">{{ $index + 1 }}</a>
		</li>
		<li ng-class="{disabled: pagina == total_paginas}" class="waves-effect">
			<a ng-click="paginar( pagina + 1 )">
				<i class="mdi-navigation-chevron-right"></i>
			</a>
		</li>
	</ul>
</div> -->
<!-- Paginación fin -->
