@import scala.collection.Map
@()
<div>

<h5>Solicitudes Pendientes</h5>

  <table class="striped centered responsive-table">
    <thead>
        <tr>
          <th data-field>Nombre</th>
          <th data-field>Escuela</th>
          <th data-field></th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pendiente in pendientes">
        <td>{{ pendiente.nombre }}</td>
        <td>{{ pendiente.escuela }}</td>
        <td><a class="waves-effect waves-light green darken-2 btn" ng-click="seleccionar(pendiente, $index)"><i class="mdi-editor-border-color"></i></a></td>
      </tr>
    </tbody>
  </table>

  <div ng-show="hay_pendiente()" class="pendientes">
    <div class="row hiddenmargin">
      <div class="col s12 m10 l8 card-panel grey lighten-5 z-depth-2 trans">
        <div class="row mycount">
          <form class="col s12 offset-m2" name="formulario" novalidate ng-submit="aprueba()">
            <h5 class="center">Informacion</h5>
              <div class="row">
                <div class="input-field col s12 m8">
                  <input readonly id="nombre" type="text" value="{{ pendiente.nombre }} {{ pendiente.paterno }} {{ pendiente.materno }}">
                  <label class="active" for="nombre">Nombre:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m8">
                  <input readonly id="paterno" type="text" value="{{ pendiente.escuela }}">
                  <label class="active" for="paterno">Escuela:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m8">
                  <input readonly id="edad" type="text" value="{{ pendiente.edad }}">
                  <label class="active" for="edad">Edad:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m8">
                  <input readonly id="promedio" type="text" value="{{ pendiente.promedio }}">
                  <label class="active" for="promedio">Promedio:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m8">
                  <a class="waves-effect waves-light green darken-2 btn" href="/admin/historial/{{ pendiente.id }}"><i class="mdi-file-file-download"></i></a>
                  <label class="active" for="materno">Historial:</label>
                </div>
              </div>
              @helpers.input("Asignar Créditos:", Map(
                  "only-number" -> "true",
                  "min" -> "1",
                  "required" -> "true",
                  "name" -> "creditosAsignados",
                  "ng-model" -> "pendiente.credito",
                  "ng-prefill" -> "true",
                  "type" -> "number"
                ),
                "Los créditos deben ser mayores a 0"
              )
              <div class="center">
                <button type="submit" class="waves-effect waves-light blue darken-2 btn" ng-click-options="{preventDoubleClick: true}"><i class="mdi-action-thumb-up"></i></button>
                <button class="waves-effect waves-light red darken-2 btn" ng-click="deniega()" ng-click-options="{preventDoubleClick: true}" ><i class="mdi-action-thumb-down"></i></button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
