@import scala.collection.Map

@()
<div>
	<div class="row">
		<div class="col s10 m8 l6 card-panel grey lighten-5 z-depth-2 trans">
			<div class="row">
				<form class="col s12 offset-m2" name="formulario" ng-submit="submit()" novalidate>
					<h5 class="col s12 m8">Datos Personales</h5>
					@helpers.input( "Nombre", Map(
							"ng-model" -> "usuario.nombre",
							"name" -> "nombre",
							"required" -> "true",
							"ng-prefill" -> "true",
							"maxLength" -> "25",
							"minLength" -> "2",
							"solo-letras" -> "true"
						),
						"El nombre es requerido"
					)

					@helpers.input( "Apellido Paterno", Map(
							"ng-model" -> "usuario.paterno",
							"name" -> "paterno",
							"required" -> "true",
							"ng-prefill" -> "true",
							"maxLength" -> "25",
							"minLength" -> "2",
							"solo-letras" -> "true"
						),
						"El apellido paterno es requerido"
					)

					@helpers.input( "Apellido Materno", Map(
							"ng-model" -> "usuario.materno",
							"name" -> "materno",
							"ng-prefill" -> "true",
							"maxLength" -> "25",
							"minLength" -> "2",
							"solo-letras" -> "true"
						)
					)

					@helpers.input( "Edad", Map(
							"ng-model" -> "usuario.edad",
							"name" -> "edad",
							"required" -> "true",
							"max" -> "90",
							"min" -> "18",
							"type" -> "number",
							"ng-prefill" -> "true"
						),
						"La edad es requerida"
					)

					@helpers.input( "Promedio", Map(
							"ng-model" -> "usuario.promedio",
							"name" -> "promedio",
							"required" -> "true",	
							"min" -> "6", 
							"max" -> "10",
							"type" -> "number",
							"ng-prefill" -> "true"
						),
						"El promedio es requerida"
					)

					@helpers.input( "Correo Electrónico", Map(
							"ng-model" -> "usuario.correo",
							"name" -> "correo",
							"required" -> "true",
							"type" -> "email",
							"ng-prefill" -> "true",
							"maxLength" -> "50"
						),
						"El correo electrónico es requerido"
					)

					<h5 class="col s12 m8">Datos de Usuario</h5>
					@helpers.input( "Nombre de Usuario", Map(
							"ng-model" -> "usuario.username",
							"name" -> "username",
							"required" -> "true",
							"ng-prefill" -> "true",
							"ng-disabled" -> "edicion",
							"solo-letras" -> "true",
							"maxLength" -> "15",
							"minLength" -> "3",
							"placeholder" -> "Longitud Minima 3 y Maxima 15"
						),
						"El nombre de usuario es requerido"
					)

					@helpers.input( "Contraseña", Map(
							"ng-model" -> "usuario.password",
							"name" -> "password",
							"required" -> "true",
							"type" -> "password",
							"ng-prefill" -> "true",
							"maxLength" -> "15",
							"minLength" -> "6",
							"placeholder" -> "Longitud Minima 6 y Maxima 15"
						),
						"La contraseña es requerida"
					)

					@helpers.input( "Repetir Contraseña", Map(
							"ng-model" -> "repetir_password",
							"name" -> "repetir_password",
							"ng-equals" -> "{{usuario.password}}",
							"type" -> "password"
						),
						"No coinciden las contraseñas"
					)

					<h5 class="col s12 m8">Datos de la Escuela</h5>
					@helpers.input( "Escuela", Map(
							"ng-model" -> "usuario.escuela",
							"name" -> "escuela",
							"accept" -> ".pdf",
							"required" -> "true",
							"ng-prefill" -> "true",
							"maxLength" -> "80",
							"minLength" -> "2"
						),
						"La escuela es requerida"
					)

					@helpers.file( "Historial", Map(
							"placeholder" -> "Elegir archivo",
							"ng-model" -> "usuario.historial",
							"name" -> "historial",
							"required" -> "true",
							"ng-prefill" -> "true"
						),
						"archivos",
						"Debes subir tu historial académico",
						"'application/pdf'"
					)

					<button class="btn waves-effect waves-light col m2 offset-m6 green darken-2" type="submit" name="action">Guardar
	    				<i class="mdi-content-send right"></i>
	  				</button>
				</form>
			</div>
		</div>
	</div>
</div>