section#monkey {
	height: 400px;
	display: block;
	background-image: url(/assets/images/404monkey.png);
  	background-repeat: no-repeat;
  	background-position: 50% 0;
}

.mensajes404 {
	margin: 60px;
	padding: 10px !important;
}

.mensajes404 h1 {
	font-weight: bold;
}

.mensajes404 .contenedor-mensaje {
	margin: -20px auto;
	width: 700px;
}

.mensajes404 .contenedor-mensaje p {
	font-size: 40px;
	font-weight: 500;
}