.error {
	color: #B94A48;
	font-style: italic;
	font-weight: bold;
}

.error input, .error input:focus:not([readonly]), .error textarea, .error textarea:focus:not([readonly]) {
	border-color: red !important;
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0 0 red;
}

.error label {
	color: red !important;
}

form span.error {
	float: right;
}

.card-panel {
	padding: 40px 0 20px 0 !important;
}