/*html, body {
  min-height: 100%;
  min-width: 100%;
}*/

header {
	height: 70px;
	position: relative;
}

.navbar-pussy {
	z-index: 9;
	background-color: #444;
	border-color: #444;
	border-radius: 0px;
	margin-bottom: 30px;
}

.navbar-toggle:hover, .navbar-toggle:focus {
	background-color: #FF0000 !important;
}

.navbar-toggle span {
	background-color: white !important;
}

ul.navbar-nav li a {
	color: white !important;
	font-family: 'Montserrat', sans-serif;
}

ul.navbar-nav li:hover {
	background-color: #FF0000;
}
nav ul .active a, nav ul .active p {
  color: black;
}
.clickeable {
	cursor: pointer;
}

#header-form {
	float: right;
	padding-top: 15px;
}

#header-form > * {
	margin-left: 10px;
	margin-right: 10px;
}

#header-form #bienvenido label{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	padding-bottom: 5px;
	margin-left: 10px;
}

#header-form #bienvenido i {
	font-size: 25px;
}

#enviar-correo .text-muted {
	font-style: italic;
	margin-bottom: 20px;
}
#cont_back {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -5;
}
div#particle {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
.brand-logo.center img, nav ul.left.hide-on-med-and-down li:last-child {
  height: 100%;
}
form.ng-pristine.ng-valid {
  margin-bottom: 0;
}
#cont_login.row {
  width: 320px;
  position: fixed;
  top: 0;
  left: 5%;
  margin-bottom: 0;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  transition-duration: .3s;
	-webkit-transform: translateY(-260px); 
	-moz-transform: translateY(-260px); 
	transform: translateY(-260px); 
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#cont_login form.col.s12 {
  background: rgba(0,0,0,.3);
  padding: 15px;
}
div.materialboxed {
	display: none;
}
#modal1 .col.s12.grey.lighten-2.z-depth-5 {
	padding: 20px;
	border-radius: 5px;
}
.small_description {
  max-height: 150px;
  overflow: hidden;
  font-size: 13px;
  text-align: justify;
}
p.small_description:after {
  content: '...';
  position: absolute;
  bottom: 2px;
  right: 9px;
}
#cont_game span.card-title.activator.grey-text.text-darken-4.ng-binding {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  overflow: hidden;
  display: inline-block;
  font-size: 20px;
}
#cont_game i.mdi-content-add.right {
  font-size: 23px;
  line-height: 48px;
  margin: 0;
  color: black;
}
#modal1 i.mdi-editor-attach-money.left {
  margin-right: 2px;
}
#modal1 .price {
  font-size: 20px;
  font-weight: 600;
}
#modal1 .row .col.s12.m6.l6 {
  margin: auto;
  float: none;
}
nav li.user {
  padding: 0 15px;
  background-color: rgba(106, 166, 94, 0.8);
  pointer-events: none;
  color: black;
}
nav li.user .mdi-social-person.left, .user i.fa.fa-dollar.left.nav-icon {
  margin-right: 0px;
}
.col.s10.m8.l6.card-panel.grey.lighten-5, .col.s12.m10.l8.card-panel.grey.lighten-5.z-depth-2.trans {
  margin: auto;
  float: none;
}
.row.zeromargin {
  margin: 0;
}
.col.s10.m3.l2.light-green.darken-4 {
  position: fixed;
}
.col.s10.m3.l2.light-green.darken-4, .col.s12.m9.l10.grey.lighten-2 {
  min-height: 100%;
  padding: 15px;
  opacity: .8;
}
.col.s10.m3.l2.light-green.darken-4 .collection {
  border: none;
}
.col.s10.m3.l2.light-green.darken-4 .collection a.collection-item {
  color: #e0e0e0;
  font-weight: 300;
  background: none;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition-duration: .75s;
  -moz-transition-duration: .75s;
  transition-duration: .75s;
}
.col.s10.m3.l2.light-green.darken-4 .collection .collection-item.active, .col.s10.m3.l2.light-green.darken-4 .collection .collection-item:hover {
  background-color: #9BF0A9;
  color: black;
}

/*Animaciones*/
body.anim_boot #cont_login.row {
  -webkit-transform: translateY(64px) !important;
  -moz-transform: translateY(64px) !important;
  transform: translateY(64px) !important;
}
.main {
  cursor: pointer;
  top: 30px;
  right: -50px;
  position: fixed;
  width: 20px;
  height: 20px;
  display: none;
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  transition-duration: .4s;
}
.open .main {
  right: -30px;
}
.main-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  width: 90%;
  right: 0;
  margin: auto;
  -webkittransition: 0.55s;
  -moz-transition: 0.55s;
  transition: 0.55s;
  z-index: 200;
  border-top: 2px solid black;
}
.main-top {
  top: 0px;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition:  0.35s;
}
.main-middle {
  top: 5px;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition:  0.35s;
}
.main-bottom {
  top: 10px;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition:  0.35s;
}
.open .main-top-click { 
  backface-visibility: hidden;
  top: 8px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);
}
.open .main-middle-click {
  opacity: 0;
}
.open .main-bottom-click {
  backface-visibility: hidden;
  top: 8px;
  -webkit-transform: rotate(-50deg);
  -moz-transform:    rotate(-50deg);
  -ms-transform:     rotate(-50deg);
  -o-transform:      rotate(-50deg);
  transform: rotate(-50deg);
}

@media only screen and (max-width : 601px) {
  .col.s10.m3.l2.light-green.darken-4 {
    left: 0;
    top: 56px;
    z-index: 5;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
  } 
  .col.s10.m3.l2.light-green.darken-4.open {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
  .main {
    display: block;
  }
}

.nav-icon {
  font-size: 20px !important;
  margin-right: 8px !important;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  top: 0;
  left: 0;
  z-index: 10000;
}
.pos_center {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
  width: 300px;
  height: 75px;
  font-style: italic;
}
.secondary-content {
  opacity: 0;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  transition-duration: .3s;
}
.collection-item.avatar:hover .secondary-content, .editing:hover .secondary-content {
  opacity: 1;
}
.right.col.s12.m9.l10.grey.lighten-5.ng-scope, .col.s11.grey.lighten-5.offset-s1, .trans.col.s10.m8.l6.card-panel.grey.lighten-5.z-depth-2, .trans.col.s10.grey.lighten-5.offset-s1 {
  background-color: rgba(250, 250, 250, 0.7) !important;
}
.editing {
  height: 55px;
}
.editing .input-field {
  display: none;
}
.trans.col.s10.grey.lighten-5.offset-s1 .collection .collection-item {
  background-color: rgba(255, 255, 255, 0.5);
}
.mycount label.active {
  color: #26a69a;
}
.mycount form {
  margin-top: 5%;
}
.row.hiddenmargin {
  margin: 0;
}
.pendientes a.btn, .pendientes button {
  margin: 5%;
}/*
.login {
  padding-bottom: 5%;
}
.login input {
  padding-left: 5%;
}*/
/* ojito de pacman
.pacman:before {
  content: "";
  position: absolute;
  z-index: 5;
  width: 6px;
  height: 6px;
  background-color: black;
  top: 10px;
  left: -7px;
  border-radius: 50%;
}*/



