@import scala.collection.Map

@(etiqueta: String, attrs: Map[String, String] = Map(), modeloArchivo: String, error: String = null, accept: String = null)
<div class="row">
	<div class="file-field input-field col s12 m8"
		@if( error != null) {
			ng-class="{error: validar && formulario.@{ attrs("name") }.$invalid}"
		}
	>
		<input class="file-path" type="text"
			@for( (k, v) <- attrs ) {
				@k = "@v"
			}

			readonly
		/>

		@if( error != null ) {
			<span ng-show="validar && formulario.@{ attrs("name") }.$invalid" class="error">@error</span>
		}
		<div class="button btn" 
			@if( accept != null ) {
				ngf-accept="@accept"
			}
		ngf-select ng-model="@modeloArchivo">
			<span>@etiqueta</span>
			<input type="file" />
		</div>
	</div>
</div>