@import scala.collection.Map

@(etiqueta: String, attrs: Map[String, String] = Map(), modeloArchivo: String, error: String = null, ngAdd: String = "", ngDelete : String = "", accept: String = null)
<div class="row">
	<div class="file-field input-field col s12 m6" style="margin-left: 16.66667% !important "
		@if( error != null) {
			ng-class="{error: validar && formulario.@{ attrs("name") }.$invalid}"
		}
	>
		<input class="file-path" type="text"
			@for( (k, v) <- attrs ) {
				@k = "@v"
			}

			readonly
		/>

		@if( error != null ) {
			<span ng-show="validar && formulario.@{ attrs("name") }.$invalid" class="error">@error</span>
		}
		<div class="button btn"
		@if( accept != null ) {
			ngf-accept="@accept"
		} 
		ngf-select ng-model="@modeloArchivo" ngf-change="asociarImagen($files, $index)">
			<span>@etiqueta</span>
			<input type="file" />
		</div>
	</div>
	<div class="col s1">
		<a class="btn-floating btn-large waves-effect waves-light red" @ngAdd>
			<i class="mdi-content-add"></i>
		</a>
	</div>
	<div class="col s1">
		<a class="btn-floating btn-large waves-effect waves-light red" @ngDelete>
			<i class="mdi-action-delete"></i>
		</a>
	</div>
</div>