@import scala.collection.Map

@(etiqueta: String, attrs: Map[String, String] = Map(), error: String = null)
	<div class="row">
		<div class="input-field col s12 m8"
			@if( error != null ) {
				ng-class="{ error: validar && formulario.@{ attrs("name") }.$invalid }"
			}
		>
			<input
				@if( !(attrs contains "type") ) {
					type="text"
				}

				@for( (k, v) <- attrs ) {
					@k = "@v"
				}
			>
			<label>@etiqueta</label>

			@if( error != null ) {
				<span ng-show="validar && formulario.@{ attrs("name"); }.$invalid" class="error">@error</span>
			}
		</div>
	</div>