@()
<div class="navbar-fixed">
  
  	<!-- Formulario del Login -->
	<div id="cont_login" class="row" ng-controller="ControladorLogin">
		<form class="col s12 grey lighten-2 z-depth-2" ng-submit="submit()" novalidate>
			<div class="row">
				<div class="input-field col s12">
					<input id="email" type="text" ng-model="login.username">
					<label for="email">Usuario</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" type="password" ng-model="login.password">
					<label for="password">Contraseña</label>
				</div>
			</div>
			<button class="btn waves-effect waves-light green darken-2" type="submit" name="action">Iniciar Sesión
				<i class="mdi-content-send right"></i>
			</button>
		</form>
	</div>

	<nav class="light-green darken-4">
		<div class="nav-wrapper">
			<!--a ui-sref="juegos" class="brand-logo center">
				<img src="/assets/images/logo.jpg">
			</a -->
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			<ul class="left hide-on-med-and-down">
				<li ng-if="usuario_login.logged_in" class="user"><i class="mdi-social-person left"></i>{{ usuario_login.nombre }} 
				</li>
				<li ng-if="usuario_login.logged_in && !usuario_login.es_admin" class="user">
					<i class="fa fa-dollar left nav-icon"></i>{{ usuario_login.creditos }}
				</li>
				<li class="login" dev="desk" ng-show="!usuario_login.logged_in">
					<p>Iniciar Sesión</p>
				</li>
				<li ng-if="usuario_login.logged_in" ng-click="logout()">
					<p>Cerrar Sesión</p>
				</li>
				<li class="register" dev="desk" ng-if="!usuario_login.logged_in">
					<a ui-sref="registro">Registro</a>
				</li>
				<li ng-controller="ControladorBusqueda" ng-show="!usuario_login.es_admin">
					<form ng-submit="submit()" novalidate>
						<div class="input-field">
							<input id="search" type="search" ng-model="busqueda">
							<label for="search"><i class="mdi-action-search"></i></label>
							<i class="mdi-navigation-close" ng-click="limpiar()"></i>
						</div>
					</form>
				</li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li ng-if="usuario_login.logged_in" class="user"><i class="mdi-social-person left"></i>{{ usuario_login.nombre }}</li>
				<li class="login" dev="movil" ng-show="!usuario_login.logged_in">
					<p>Iniciar Sesión</p>
				</li>
				<li ng-if="usuario_login.logged_in" ng-click="logout()">
					<p>Cerrar Sesión</p>
				</li>
				<li class="register" dev="movil" ng-if="!usuario_login.logged_in" ui-sref-active="active">
					<a ui-sref="registro">Registro</a>
				</li>
				<li ng-if="!usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="juegos({filtro: 'todos', p: 1})" ui-sref-opts="{reload: true}">Todos</a>
        		</li>
        		<li ng-if="!usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="juegos({filtro: 'recientes', p: 1})" ui-sref-opts="{reload: true}">Más recientes</a>
        		</li>
        		<li ng-if="!usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="juegos({filtro: 'vendidos', p: 1})" ui-sref-opts="{reload: true}">Más vendidos</a>
        		</li>
        		<li ng-if="!usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="juegos({filtro: 'gratuitos', p: 1})" ui-sref-opts="{reload: true}">Gratuitos</a>
        		</li>
        		<li ng-if="usuario_login.logged_in && !usuario_login.es_admin" ui-sref-active="active">
        			<a>Mi Cuenta</a>
        		</li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
        		<li ng-if="!usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="juegos({filtro: 'todos', p: 1})" ui-sref-opts="{reload: true}"><i class="fa fa-gamepad left nav-icon"></i>Todos</a>
        		</li>
        		<li ng-if="!usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="juegos({filtro: 'recientes', p: 1})" ui-sref-opts="{reload: true}"><i class="fa fa-refresh left nav-icon"></i>Más recientes</a>
        		</li>
        		<li ng-if="!usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="juegos({filtro: 'vendidos', p: 1})" ui-sref-opts="{reload: true}"><i class="fa fa-dollar left nav-icon"></i>Más vendidos</a>
        		</li>
        		<li ng-if="!usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="juegos({filtro: 'gratuitos', p: 1})" ui-sref-opts="{reload: true}"><i class="fa fa-download left nav-icon"></i>Gratuitos</a>
        		</li>
        		<li ng-if="usuario_login.logged_in && !usuario_login.es_admin" ui-sref-active="active">
        			<a ui-sref="cuenta"><i class="fa fa-trophy left nav-icon"></i>Mi Cuenta</a>
        		</li>
        		<li ng-if="usuario_login.es_admin"><a ui-sref="admin.listado">Menú Principal</a></li>
      		</ul>
		</div>
	</nav>
</div>
      

